@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family:'Poppins','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    border-width: 0.3pt;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* position: relative; */
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 48pt;
    color: #0D4303;
}

.leaflink-logo {
    height: 56pt;
    width: 56pt;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10pt;
  
}

.profileImg{
    width: 76pt;
    height: 76pt;
    clip-path: circle(50%);
    object-fit:cover;
    margin-right:10pt;
}

.plantImg{
    width: 89pt;
    height: 95pt;
}

.request-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12pt;
    margin-left:0pt;
}

.name{ 
    font-size:20pt;
    font-weight:600;
    width:177pt;
    height:23pt;
    margin:0;
}

.date{
    font-size:11pt;
    width:183pt;
    height:15pt;
    margin:0;
}

.plants{
    /* width:78pt;
    height:18pt; */
    object-fit: fill;
    margin:0;

}

.distance{
    height:18pt;
    width:78pt;
    margin:0;
}

.nameCardDetails{
    display: flex;
    flex-direction: row;
    gap: 20pt;
    /* width:364pt;
    height:97pt;
    margin:auto; */
}

.name-card-items {
    display: flex;
    direction: column;
}


.beASitter{
    border-radius:50pt;
    background-color:green;
    width:177.25pt;
    height:21pt;
    border-width:0;
}

.requestASitter{
    width:215pt;
    height:58pt;
    position:absolute;
    bottom:20pt;
    right:20pt;
    background-color:#398354;
    border-color: #1A591E;
    border-radius:10pt;
    border-width:0pt;
    font-size: 22pt;
    font-weight: bold;

}



