*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.phoneScreen{
    width: 390px;
    height:844px;
    border-width: 1px;
    border-style:solid;
    margin:auto;
    position:relative;
}

.profileImg{
    width: 76px;
    height: 76px;
    clip-path: circle(50%);
    object-fit:cover;
    margin-right:10px;
}

.plantImg{
    width: 89px;
    height: 95px;
}

.textDetails{
    font-size: 12px;
    margin-left:0px;
}

.name{ 
    font-size:20px;
    font-weight:600;
    width:177px;
    height:23px;
    margin:0;
}

.date{
    font-size:11px;
    width:183px;
    height:15px;
    margin:0;
}

.plants{
    width:78px;
    height:18px;
    margin:0;
}

.distance{
    height:18px;
    width:78px;
    margin:0;
}

.nameCardDetails{
    display:flex;
    width:364px;
    height:97px;
    margin:auto;
}



.beASitter{
    border-radius:50px;
    background-color:green;
    width:177.25px;
    height:21px;
    border-width:0;
}

.requestASitter{
    width:215px;
    height:58px;
    position:absolute;
    bottom:20px;
    right:20px;
    background-color:green;
    border-radius:50px;
    border-width:0px;

}



