@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family:'Poppins','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    width: 390px;
    height: 844px;
    border-width: 0.3px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* position: relative; */
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: #0D4303;
}

.leaflink-logo {
    height: 56px;
    width: 56px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
}

.profileImg{
    width: 76px;
    height: 76px;
    clip-path: circle(50%);
    object-fit:cover;
    margin-right:10px;
}

.plantImg{
    width: 89px;
    height: 95px;
}

.request-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    margin-left:0px;
}

.name{ 
    font-size:20px;
    font-weight:600;
    width:177px;
    height:23px;
    margin:0;
}

.date{
    font-size:11px;
    width:183px;
    height:15px;
    margin:0;
}

.plants{
    /* width:78px;
    height:18px; */
    object-fit: fill;
    margin:0;

}

.distance{
    height:18px;
    width:78px;
    margin:0;
}

.nameCardDetails{
    display: flex;
    flex-direction: row;
    gap: 4px;
    /* width:364px;
    height:97px;
    margin:auto; */
}

.name-card-items {
    display: flex;
    flex-direction: column;
    height: 537px;
}


.beASitter{
    border-radius:50px;
    background-color:#8FB191;
    width:177.25px;
    height:21px;
    border-width:0;
    text-align: center;
}

.requestASitter{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    width:215px;
    height:58px;
    text-align: center;
    justify-content: center;
    position: right;
    /* bottom:20px;
    right:20px; */
    background-color:#398354;
    border-color: #1A591E;
    border-radius:10px;
    border-width:0px;
    font-size: 22px;
    font-weight: bold;
}

.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    height:63px;
    padding: 20px 0px;
}

.nav-item{
    display: flex;
    width:fit-content;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-icon{
    height: 24px;
    width: 24px;
}

.nav-title{
    font-size: 10px;
    font-weight: 500;
    color: #000000;
}



