*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    border-width: 0.3px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* position: relative; */
}

h1 {
    text-align: center;
    font-size: 48px;
    color: #0D4303;
}

.leaflink-logo {
    height: 56px;
    width: 56px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
}

.profileImg{
    width: 76px;
    height: 76px;
    clip-path: circle(50%);
    object-fit:cover;
    margin-right:10px;
}

.plantImg{
    width: 89px;
    height: 95px;
}

.request-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    margin-left:0px;
}

.name{ 
    font-size:20px;
    font-weight:600;
    width:177px;
    height:23px;
    margin:0;
}

.date{
    font-size:11px;
    width:183px;
    height:15px;
    margin:0;
}

.plants{
    width:78px;
    height:18px;
    margin:0;
}

.distance{
    height:18px;
    width:78px;
    margin:0;
}

.nameCardDetails{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* width:364px;
    height:97px;
    margin:auto; */
}

.name-card-items {
    display: flex;
    direction: column;
}


.beASitter{
    border-radius:50px;
    background-color:green;
    width:177.25px;
    height:21px;
    border-width:0;
}

.requestASitter{
    width:215px;
    height:58px;
    position:absolute;
    bottom:20px;
    right:20px;
    background-color:#398354;
    border-color: #1A591E;
    border-radius:10px;
    border-width:0px;

}



